<div role="document" class="page">
  {%  if page.header %}
    <header class="header">
      <div class="wrapper">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  {%  if page.featured %}
    <section class="featured">
      <div class="wrapper">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if messages %}
    <section class="messages">
      <div class="wrapper">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  {% if breadcrumb %}
    <section class="breadcrumb">
      <div class="wrapper">
        {{ breadcrumb }}
      </div>
    </section>
  {% endif %}

  <main class="main" role="main">
    <div class="wrapper">
      {% if page.sidebar_first %}
        <aside class="sidebar first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <section class="content">
        {{ page.content }}
      </section>

      {% if page.sidebar_second %}
        <aside class="sidebar second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </main>

  {% if page.footer_top or page.footer_bottom %}
    <footer class="footer" role="contentinfo">
      <div class="wrapper">
        {% if page.footer_top %}
          <section class="top">
            {{ page.footer_top }}
          </section>
        {% endif %}

        {% if page.footer_bottom %}
          <section class="bottom">
            {{ page.footer_bottom }}
          </section>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</div>
