<div role="document" class="page">
  {%  if page.header %}
    <header class="site-header">
      <div class="outer-wrapper">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  {%  if page.featured %}
    <section class="featured">
      <div class="columns">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if messages %}
    <section class="messages">
      <div class="outer-wrapper">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  {% if breadcrumb %}
    <section class="breadcrumb">
      <div class="outer-wrapper">
        {{ breadcrumb }}
      </div>
    </section>
  {% endif %}

  <main class="main" role="main" class="outer-wrapper">
    {% if page.sidebar_first %}
      <aside class="sidebar first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    <section class="content">
      {{ page.content }}
    </section>

    {% if page.sidebar_second %}
      <aside class="sidebar sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer_top or page.footer_bottom %}
    <footer class="site-footer" role="contentinfo">
      {% if page.footer_top %}
        <section class="footer-top">
          {{ page.footer_top }}
        </section>
      {% endif %}

      {% if page.footer_bottom %}
        <section class="footer-bottom">
          {{ page.footer_bottom }}
        </section>
      {% endif %}
    </footer>
  {% endif %}
</div>
