{% set sidebar_first = page.sidebar_first|render|striptags|trim|length %}
{% set sidebar_second = page.sidebar_second|render|striptags|trim|length %}
{%
  set classes = [
    'page'
  ]
%}
{% if sidebar_first and sidebar_second %}
  {% set classes = classes|merge(['two-sidebars']) %}
{% elseif sidebar_first %}
  {% set classes = classes|merge(['one-sidebar', 'sidebar-first']) %}
{% elseif sidebar_second %}
  {% set classes = classes|merge(['one-sidebar', 'sidebar-second']) %}
{% else %}
  {% set classes = classes|merge(['no-sidebars']) %}
{% endif %}

{{ prefix }}
<div role="document" {{ attributes.addClass(classes) }}>
  {% if page.header %}
    <header class="header">
      <div class="wrapper">
        {{ page.header }}
        {{ offcanvas_links }}
      </div>
    </header>
  {% endif %}

  {% if page.featured %}
    <section class="featured">
      <div class="wrapper">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if messages %}
    <section class="messages">
      <div class="wrapper">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  {% if breadcrumb %}
    <section class="breadcrumb">
      <div class="wrapper">
        {{ breadcrumb }}
      </div>
    </section>
  {% endif %}

  <main class="main" role="main">
    <div class="wrapper">
      <section class="content">
        {{ page.content }}
      </section>

      {% if page.sidebar_first %}
        <aside class="sidebar first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="sidebar second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </main>

  {% if page.footer_top or page.footer_bottom %}
    <footer class="footer" role="contentinfo">
      <div class="wrapper">
        {% if page.footer_top %}
          <section class="top">
            {{ page.footer_top }}
          </section>
        {% endif %}

        {% if page.footer_bottom %}
          <section class="bottom">
            {{ page.footer_bottom }}
          </section>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</div>
{{ suffix }}
